$pink_delas: #f37884;
$green_delas: #aad7ab;

#scrollup {
    background-color: $pink_delas;
    border-radius: 0;
    box-shadow: none;
    transition: all ease 0.5s;

    &:hover {
        background-color: $green_delas;
    }
}
#site-navigation {
    .wrapper {
        width: 100%;
        background-color: $pink_delas;
    }
}
