// $pink_delas: #f37884;
$pink_delas: #f04b32;
// $green_delas: #aad7ab;
$green_delas: #69c5aa;
$main-font: 'Pacific Northwest';
$secondary-font: 'Montserrat';
$special-font: 'Learning Curve Pro';

@font-face {
    font-family: 'Pacific Northwest';
    src: url('fonts/Pacific Northwest.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Learning Curve Pro';
    src: url('fonts/LearningCurve_OT.otf');
    font-weight: normal;
    font-style: normal;
}

#scrollup {
    background-color: $pink_delas;
    border-radius: 0;
    box-shadow: none;
    transition: all ease 0.5s;

    &:hover {
        background-color: $green_delas;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $main-font;
    color: #414141;
}
p, span {
    font-family: 'Montserrat';
    font-size: 16px;
    color: #414141
}
h2 {
    &.section-title {
        padding: 0 15px;
        font-size: 36px;
    }
}

.support-div {
    display: inline-block;
    width: 0px;
    height: 100%;
    vertical-align: middle;
}
.main-header {
    .social-header {
        height: 185px;
        text-align: right;

        a {
            display: inline-block;
            vertical-align: middle;
        }
        img {
            width: 52px;
        }
    }
    .main-navigation-bar {
        background-color: $pink_delas;
        margin: 10px 0 0;

        ul {
            list-style: none;
            margin-bottom: 0;
            padding: 0;

            .menu-item {
                display: inline-block;
                text-transform: uppercase;
                padding: 10px 0;
                font-family: $main-font;

                &.current-menu-item, &:hover {
                    border-bottom: 3px solid #94464d;
                    padding-bottom: 7px !important;
                }
                &:first-of-type {
                    a {
                        border-left: none;
                    }
                }
                a {
                    color: #fff;
                    font-size: 26px;
                    text-decoration: none;
                    border-left: 1px solid #fff;
                    padding: 0 20px;
                }
                .sub-menu {
                    display: none;
                }
            }
        }
    }
}

#wrapper {
    overflow-x: hidden;

    #highlight {
        background-color: $green_delas;
        padding: 30px 0;
        margin-bottom: 30px;

        blockquote {
            border-left: none;
            max-width: 720px;
            margin: 0 auto;
            text-transform: uppercase;
            font-style: italic;
            position: relative;
            height: 200px;

            p {
                color: #fff;
                font-family: $main-font;
                font-size: 42px;

                &.quote {
                    text-align: center;
                    visibility: hidden;
                    opacity: 0;
                    transition: all ease 3s;
                    position: absolute;
                    width: 100%;
                    top: 20%;
                    left: 0;
                    
                    &.active {
                        visibility: visible;
                        opacity: 1;
                    }
                    span {
                        font-size: 42px;
                        line-height: 20px;
                        color: currentColor;
                    }
                }
                &.author {
                    text-align: right;
                    font-style: italic;
                }
            }
        }
    }
    .episodes-container {
        padding: 30px 0;
        .episodes-item {
            margin: 15px 0;

            .author-info {
                border: 1px solid #d9d9d9;
                border-top-right-radius: 4px;
                border-top-left-radius: 4px;
                padding: 10px;

                img {
                    width: 40px;
                    border-radius: 50%;
                }
                p {
                    display: inline-block;
                    margin: 0;
                }
            }
            figure {
                border-left: 1px solid #d9d9d9;
                border-right: 1px solid #d9d9d9;
                height: 350px;
                margin-bottom: -2px;

                &.has-video {
                    cursor: pointer;
                }
                video {
                    width: 98%;
                    vertical-align: middle;
                    display: none;
                }
                .control-panel {
                    background-image: url('../images/controls.png');
                    background-position: 0 0;
                    position: absolute;
                    left: calc(49% - 50px);
                    top: calc(45% - 50px);
                    width: 100px;
                    height: 100px;
                }
            }
            .like-info {
                border: 1px solid #d9d9d9;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                padding: 10px;

                &:hover {
                    img {
                        color: #D75A4A;
                    }
                }
                img {
                    width: 30px;
                    color: #d9d9d9;
                }
                p {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0;
                }
            }
        }
    }

    .personagens-list {
        .personagem-item {
            margin: 20px 0;
            height: 350px;

            &.right {
                img {
                    float: right;
                }
                h3 {
                    float: right;
                }
                p {
                    clear: both;
                    text-align: right;
                }
            }
            .entry-thumb {
                height: 100%;
                background-size: cover;
                background-position: 50%;
            }
            .entry-content {
                height: 100%;
                background-color: #e5ffe5;
                padding: 20px 15px;

                img {
                    height: 100px;
                }
                h3 {
                    padding: 0 20px;
                    font-size: 36px;
                }
                p {
                    padding: 15px 20px;
                }
            }
        }    }

    #footer {
        margin-top: 30px;

        .delas-footer {
            background-color: $pink_delas;
            color: #fff;
            padding: 20px 0;

            .description {
                text-align: center;

                img {
                    width: 150px;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 12px;
                    color: #fff;
                    text-align: justify;
                }
            }
            .uni-content {
                img {
                    width: 100px;
                    display: block;
                    margin: 35px 50px 15px;
                    float: right;
                    clear: both;
                }
            }
        }
        .dev-footer {
            background-color: $green_delas;
            color: #414141;
            padding: 5px 0;

            p {
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                font-size: 10px;
            }
            .cr-box {
                text-align: left;
                height: 45px;
            }
        }
        .about-text {
            text-align: left;

            p {
                margin-bottom: 0;
            }
        }
        .dev-container {
            height: 45px;
            vertical-align: middle;
            text-align: right;

            p {
                display: inline-block;
            }
        }
        .dev-box {
            display: inline-block;
            vertical-align: middle;
            border: 2px solid #414141;
            padding: 3px 8px;
            margin-left: 4px;

            .fa-github {
                -webkit-transition: -webkit-transform 0.8s ease-in-out;
                -ms-transition: -ms-transform 0.8s ease-in-out;
                transition: transform 0.8s ease-in-out;
                font-size: 24px;
                vertical-align: sub;
            }
            span {
                display: inline-block;
                font-size: 12px;
            }
            a {
                color: #414141;
            }
            &:hover {
                a {
                    color: #414141;
                }
                .fa-github {
                    transform: rotate(360deg);
                    -ms-transform:rotate(360deg);
                    -webkit-transform:rotate(360deg);
                }
            }
        }
    }
}
