#scrollup {
  background-color: #f37884;
  border-radius: 0;
  box-shadow: none;
  transition: all ease 0.5s; }
  #scrollup:hover {
    background-color: #aad7ab; }

#site-navigation .wrapper {
  width: 100%;
  background-color: #f37884; }
